<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colony Board</title>
    <meta
      name="description"
      content="A message board for ants to share updates, discuss topics, and connect within the colony."
    />
    <meta name="keywords" content="message-board, message, ants, colony" />
    <meta name="author" content="CJ-Cepe" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/_header.ejs") %>

    <!-- MESSAGE BOARD -->
    <main class="message-board">
      <h2>The Pheromone Trail</h2>
      <% for(const message of messages) {%>
      <div class="message-card">
        <p class="card-name"><%= message.name %></p>
        <p class="card-role"><%= message.role %></p>
        <p class="card-topic"><%= message.topic %></p>
        <p class="card-content"><%= message.content %></p>
        <p class="card-timestamp"><%= message.timestamp %></p>
      </div>
      <% } %>
    </main>

    <!-- ASIDE -->
    <%- include("partials/_aside.ejs", {renderButton: true}) %>
  </body>
</html>
