<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colony Board</title>
    <meta
      name="description"
      content="A message board for ants to share updates, discuss topics, and connect within the colony."
    />
    <meta name="keywords" content="message-board, message, ants, colony" />
    <meta name="author" content="CJ-Cepe" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/_header.ejs") %>

    <main>
      <% if (viewType === "board") { %> <%- include("partials/_board.ejs") %>
      <%- include("partials/_aside.ejs", {renderButton: true}) %> <% } else if
      (viewType === "form") { %> <%- include("partials/_form.ejs") %> <%-
      include("partials/_aside.ejs", {renderButton: false}) %> <% } else { %>
      <p>Content not found for this view type.</p>
      <% } %>
    </main>
  </body>
</html>
