<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colony Board</title>
  </head>
  <body>
    <% for(const message of messages) {%>
    <div class="card" style="margin-bottom: 5rem">
      <p><%= message.author %></p>
      <p><%= message.role %></p>
      <p><%= message.topic %></p>
      <p><%= message.content %></p>
      <p><%= message.timpstamp %></p>
    </div>
    <% } %>
  </body>
</html>
