<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <article>
        <header>
          <h2><%= name %></h2>
          <p><%= role %></p>
        </header>
        <form action="/message" method="post">
          <input type="hidden" name="name" value="<%= name %>" />
          <input type="hidden" name="role" value="<%= role %>" />

          <label for="topic">
            Pick a topic
            <select name="topic" id="topic" required>
              <option value="" disabled selected>-- Choose a topic --</option>

              <% for (const topic of topics) { %>
              <option value="<%= topic %>"><%= topic %></option>
              <% } %>
            </select>
          </label>

          <label for="message">
            Message <span aria-hidden="true">*</span>
            <textarea name="message" id="message" required> </textarea>
          </label>

          <button type="submit">Send Message</button>
        </form>
      </article>
    </main>
  </body>
</html>
